
.main-right-container{
    background-image: linear-gradient(to bottom,rgb(31,31,31) ,rgb(18,18,18) 25%);
    margin-top:8px;
    margin-left: 10px;
    border-radius: 5px;
    width: 100%;
    height: 88%;
    overflow: hidden;
  

}

.main-right-container:hover{
    overflow-y: scroll;
}
