.premium-page{   
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    overflow-y: auto;
}



.top-info{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(161,36,139);
    width: 100%;
    height: 450px;
}
.premium-info{
    margin-top: 50px;
    width: 700px;
    height: fit-content;
    display: block;
}

.premium-info > h1, h3{
    margin-top: 20px;
    color: white;
    
}

.premium-info > h1 {
    font-size: 40px;
    font-weight: 500;
}
.premium-info > h3 {
    font-size: 25px;
    font-weight: 400;

}

.top-info > img{
    margin-left: 50px;
    width: 400px;
    height: 400px;
    margin-top: 25px;
   
}
.btn-container{
    margin-top: 50px;

}
.btn-container > .btn1 {
    cursor: pointer;
    background-color: rgb(25,20,20);
    color: white;
    border: none;
    width: 230px;
    height: 48px;
    border-radius: 36px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 30px;
    transition: all;
}
.btn-container > .btn2 {
    cursor: pointer;
    background-color: inherit;
    border: 2px solid white;
    color: white;
    width: 140px;
    height: 48px;
    border-radius: 36px;
    font-weight: 600;
    font-size: 15px;
    transition: all;
}

.btn-container > .btn2:hover{
    transform: scale(1.05);
    background-color: #8C1F79;
}

.btn-container > .btn1:hover{
    transform: scale(1.05);
    background-color: black;
}
.premium-info > p {
    width: 90%;
    margin-top: 30px;
}

.premium-info > p , p > a {
    color: white;
    font-size: 11px;
    font-weight: 400;
}


@media screen and (max-width: 700px) {
    .btn-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-container > .btn1 {
        margin-bottom: 20px;
        width: 100%;
    }
    .btn-container > .btn2 {
        width: 100%;
    }
    .premium-info > h1 {
        font-size: 30px;
        margin-left: 20px;
        
    }
    .premium-info > h3 {
        font-size: 15px;
        margin-left: 20px; 
    }
    .premium-info > p {
        margin-left: 20px;
    }



  }


@media screen and (max-width: 900px) {
    .top-info{
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
    }
    .top-info > img{
        width: 30vw;
        height: 30vw;
    }

  }


